.middle {
  width: 80%;
  height: calc(80vh - 24px);
  margin: 0 auto 12px;
  display: flex;

  @at-root {
    .middle-left {
      flex: 2.5;
      height: 100%;
      margin-right: 12px;
      padding: 12px;

      .left-content {
        margin: 0 auto;
        height: 43px;
        line-height: 35px;
        padding: 4px;
        background-color: rgb(214, 148, 245);
      }
    }
  }

  @at-root {
    .middle-right {
      flex: 7.5;
      height: 100%;
      padding: 12px;
    }
  }
}
