<div class="middle">
  <div class="middle-left first-level-theme">
    <ul class="left-content">
      <li class="left-list second-level-theme">
        <a [routerLink]="['common']">普通页面</a>
      </li>
      <li class="left-list second-level-theme">
        <a [routerLink]="['kendoui']">kendoui</a>
      </li>
      <li class="left-list second-level-theme">
        <a [routerLink]="['ng-zorro']">ng-zorro</a>
      </li>
      <li class="left-list second-level-theme">
        <a [routerLink]="['zh-font']">字体图标</a>
      </li>
      <li class="left-list second-level-theme">
        <a (click)="showConfirmation()">弹窗</a>
      </li>
      <li class="left-list second-level-theme">
        <a (click)="test()">测试</a>
      </li>
    </ul>
  </div>
  <div class="middle-right first-level-theme">
    <router-outlet></router-outlet>
  </div>
</div>