// 默认样式初始化，如果还有其他自定义样式比如input、button、textare等样式，自行添加
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  font-style: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.single-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 182, 225);
  transition: all .2s;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 241, 63, 0.7);
}
