$root-light-color:#f5f5f5 !default;
$root-dark-color:#565656 !default;

$first-light-color:#fff !default;
$first-dark-color:#ccc !default;

$second-light-color:#f2efeffa !default;
$second-dark-color:#e8e6b2 !default;

$a-light-color:#ff521b !default;
$a-dark-color:#da04f4 !default;


// 主题1
[zh-theme="light"] {
  :target {
    border: 1px solid #FF9800;
    box-shadow: 0 0 8px 2px #FF9800;
  }

  // body层级
  background-color: $root-light-color;

  // 一级层级
  .first-level-theme {
    background-color: $first-light-color;
  }

  // 二级层级
  .second-level-theme {
    background-color: $second-light-color;
    border-color: red;

    // 其他
    a {
      color: $a-light-color;
    }
  }

}


// 主题2
[zh-theme="dark"] {
  :target {
    border: 1px solid rgb(119, 0, 255);
    box-shadow: 0 0 8px 2px rgb(119, 0, 255);
  }

  // body层级
  background-color: $root-dark-color;

  // 一级层级
  .first-level-theme {
    background-color: $first-dark-color;
    color: #f43636;
  }

  // 二级层级
  .second-level-theme {
    background-color: $second-dark-color;

    a {
      color: $a-dark-color;
      font-size: 20px;
    }
  }

}
